{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true
      }
    ]
  ],
  "env": {
    "cjs": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ]
      ]
    }
  }
}